/*this messes with register css*/

.fileModalOverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%; 
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3); 
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  z-index: 1000;
}

.invalid {
    border: 1px solid red;
    color: red;
}

.status{
    
    color: red;
    margin-bottom: 1em;
}

.modalTitle{
  background-image: radial-gradient(circle, #7182ff 0, #3cff52 100%);
  background-clip: text;
  color: transparent;
  animation: textGradientAnimation 2s ease-in-out infinite alternate;
  background-repeat: initial;
  background-size: 200%;
}
.modalStyle{
  width: 75%;
  height: 75%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  z-index: 1001 ; 
  box-shadow: 0 5px 15px rgba(0,0,0,0.2);
  position: relative;
  background-color: white;
  border-radius: 30px;
}
.modalStyle div{
    flex:1;
}

#formElements{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    height: 100%;
}

.files{
    max-height:100%;
    max-height:100%;
    min-height: 50%;
    min-width: 50%;

}
.uploadText{
    margin: 1em auto 1em auto;
    font-size: 70%;
}

.submitBtn{
    display: flex;
    flex-direction: column;
    background-color: rgb(255, 255, 255);
    background-image: radial-gradient(circle, #7182ff 0, #3cff52 100%);
    color: rgb(255, 255, 255);
    align-items: center;
    font-family:sans-serif;
    border: .1em, Solid #3cff52;
    border-radius: 1rem;
    cursor:pointer;
    padding: .5em;
    margin: 1em auto 1em auto;
    
}


.coverPreview{
    max-width: 100%;
    max-height: 100%;
    margin-bottom: 15%;
}
.filePreview{

    width:100%;
    height: 100%;
}


#file{
    height: 50vh;
    width:25vw;
}
#file::file-selector-button{
    display: none;

}
#fields{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;   
}

input::placeholder{
    color:gray;
    font-size: 1em;
}

.image{
    max-width: 60%;
    max-height: 60%;
    width: 40%;
    min-width: 20%;
    min-height: 20%;
    margin: auto auto;
}
.document{
    max-width: fit-content;
    max-height: fit-content;
    min-width: 70%;
    min-height: 70%;
    margin: auto auto;
}


.actualUploadBtn{
    display: flex;
    flex-direction: column;
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    align-items: center;
    font-family:sans-serif;
    border: .1em, Solid #3cff52;
    border-radius: 1rem;
    cursor:pointer;
    padding: .5em;
    margin: 1em auto 1em auto;
    


}
.actualUploadBtn:hover{
    background-color: rgb(203, 203, 203);
}

