.glass-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 35px;
    border-color: white;
    border-style: solid;
    width: 35em;
    height: 35em;
    backdrop-filter: blur(0.2em);

}

#container{
    display: flex;
    justify-content: center; /* Horizontal centering */
    align-items: center;     /* Vertical centering */
    height: 100vh;
    background-image: url("../../assets/LoginPageBackground.png");
    background-size: cover;
}

form{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 2em;
    padding-bottom: 2em;
}

input{
    margin: 0.5em 0.5em 0.5em 0.5em ;
    border-radius: 10px;
    background-color: transparent;
    color: white;
    border-color: white;
    border-style: solid;
    border-width: 3px;
    width: 20em;
    height: 2.5em;
}
input::placeholder{
    color: white;
    font-size: 1.5em;
}

#preferences{
    display: flex;
    flex-direction: row;
    gap: 5em;
    color: white;
    font-weight: bold;
}
#preferences input{
    margin: 0;
    padding: 0;
    border: none
}

#continue_btns{
    display: flex;
    flex-direction: column;
}

#continue_btns button{
    width: 13em;
    margin: 0.5em 0.5em 0.5em 0.5em ;
    border: none;
    border-radius: 10px;
    font-size: large;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
}

.glass-container h2{
    font-size: 4em;
    font-family: 'Courier New', Courier, monospace;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    color: white;
}

#forgotPassword{
    background-color: transparent;
    color: white;
    border: none;
    font-weight: bold;
}

#register{
    background-color: transparent;
    border: none;
    color: white;
}

#Remember input{
    width: 1.5em;
}

#Remember {
    display: flex;
    align-items: center;
    gap: 8px;                      /* Adds space between the checkbox and the text */
    cursor: pointer;
    color: white;
}

p{
    color: white;
    font-weight: bold;
    margin-top: 0;
}

form span{
    color: rgb(245, 56, 56);
    font-weight: bold;
    background-color: rgb(236, 236, 236);
    border-radius: 10px;
    padding: 0 0.3em 0 0.3em;
}

.badInput{
    border-color: red;
}
