.glass-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 35px;
    border-color: white;
    border-style: solid;
    width: auto;
    height: 35em;
    backdrop-filter: blur(0.2em);

}

#root{
    margin: 0;
}


#container{
    display: flex;
    justify-content: center; /* Horizontal centering */
    align-items: center;     /* Vertical centering */
    height: 100vh;
    background-image: url("../../assets/LoginPageBackground.png");
    background-size: cover;
}

form{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 2em;
    padding-bottom: 2em;
}

input{
    margin: 0.5em 0.5em 0.5em 0.5em ;
    border-radius: 10px;
    background-color: transparent;
    color: white;
    border-color: white;
    border-style: solid;
    border-width: 3px;
    width: 20em;
    height: 2.5em;
}
input::placeholder{
    color: white;
    font-size: 1.5em;
}

#preferences{
    display: flex;
    flex-direction: row;
    gap: 5em;
    color: white;
    font-weight: bold;
}

#continue_btns{
    display: flex;
    flex-direction: column;
}

#continue_btns button{
    width: 10em;
    margin: 0.5em 0.5em 0.5em 0.5em ;
}

#root{
    margin: 0;
}